.NameForm input[type="text"] {
  border: 0;
  border-radius: 20px;
  height: 40px;
  width: 300px;
  font-size: 16px;
  padding-right: 20px;
  padding-left: 20px;
}

.NameForm input[type="submit"] {
  color: #fff;
  font-weight: 500;
  border-radius: 20px;
  height: 40px;
  width: 100px;
  font-size: 16px;
  background: #147efb;
  border: 0;
  margin-left: 20px;
  margin-right: 5px;
  text-align: "center";
}
